/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

* {
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  height: 100%;
  overflow-x: hidden; }

html {
  position: relative;
  height: 100%; }

strong {
  font-weight: 700; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

em {
  font-style: italic; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

textarea,
input[type="text"],
input[type="button"],
input[type="submit"] {
  -webkit-appearance: none;
  border-radius: 0;
  outline: 0;
  outline: none; }

button {
  -webkit-appearance: none; }

main {
  transition: all .4s ease-out;
  display: block;
  -webkit-transform-origin: center center;
  transform-origin: center center;
  height: 100%; }

* {
  outline: 0;
  box-sizing: border-box; }

.hero {
  height: 80%;
  z-index: 1; }
  .hero .top-right-div {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    height: 120px;
    width: 16%;
    opacity: 0.65; }
  .hero .bust {
    position: absolute;
    top: 0;
    right: 0;
    width: 74%;
    opacity: 0.9;
    z-index: -1;
    height: 70%;
    background: url("/images/bust_cut.jpg") no-repeat;
    background-size: 100% auto; }
    @media (min-width: 0) and (max-width: 1200px) {
      .hero .bust {
        width: 80%;
        right: -10%; } }
    @media (min-width: 0) and (max-width: 900px) {
      .hero .bust {
        width: 90%;
        right: -24%; } }
    .hero .bust .masked {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      transform: translateY(-30%);
      -webkit-mask-image: url("/images/mask.png");
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-size: 300px;
      mask-image: url("/images/mask.png");
      mask-repeat: no-repeat;
      mask-size: 300px;
      pointer-events: none; }
      @media (min-width: 0) and (max-width: 1200px) {
        .hero .bust .masked {
          display: none; } }
  .hero .wave {
    position: absolute;
    top: -5%;
    right: 0;
    width: 74%;
    height: 50%; }
    @media (min-width: 0) and (max-width: 1200px) {
      .hero .wave {
        width: 80%;
        right: -10%; } }
    @media (min-width: 0) and (max-width: 900px) {
      .hero .wave {
        width: 90%;
        right: -24%; } }
  .hero .top-left-div {
    position: absolute;
    left: 0;
    top: 180px;
    height: 400px;
    width: 26%; }
    @media (min-width: 0) and (max-width: 1200px) {
      .hero .top-left-div {
        width: 30%; } }
    @media (min-width: 0) and (max-width: 900px) {
      .hero .top-left-div {
        width: 34%; } }
  .hero .behind-title {
    position: absolute;
    left: 10%;
    z-index: 1; }
    @media (min-width: 0) and (max-width: 1200px) {
      .hero .behind-title {
        left: 12%; } }
    @media (min-width: 0) and (max-width: 900px) {
      .hero .behind-title {
        left: 14%; } }
  .hero .small {
    width: 16%;
    height: 80px;
    top: 320px; }
    @media (min-width: 0) and (max-width: 1200px) {
      .hero .small {
        top: 270px;
        height: 50px;
        width: calc(18% + 1px); } }
    @media (min-width: 0) and (max-width: 900px) {
      .hero .small {
        width: calc(20% + 1px); } }
  .hero .mid {
    width: 38%;
    height: 240px;
    top: 380px; }
    @media (min-width: 0) and (max-width: 1200px) {
      .hero .mid {
        top: 320px;
        height: 200px;
        width: 38%; } }
    @media (min-width: 0) and (max-width: 900px) {
      .hero .mid {
        width: 48%; } }
  .hero .large {
    width: 90%;
    height: calc(100% - 600px);
    top: 540px;
    z-index: 0; }
    @media (min-width: 0) and (max-width: 1200px) {
      .hero .large {
        top: 518px;
        height: calc(100% - 600px);
        width: 88%; } }
  .hero .main-title {
    position: absolute;
    top: 250px;
    left: 12%;
    font-family: 'Anton';
    font-size: 120px;
    line-height: 150px;
    text-transform: uppercase;
    z-index: 2; }
    .hero .main-title span {
      display: block; }
      .hero .main-title span:first-of-type {
        width: 25%; }
      .hero .main-title span:nth-of-type(2) {
        width: 75%; }
    @media (min-width: 0) and (max-width: 1330px) {
      .hero .main-title {
        font-size: 104px;
        line-height: 130px; } }
    @media (min-width: 0) and (max-width: 1200px) {
      .hero .main-title {
        font-size: 90px;
        line-height: 110px;
        top: 200px;
        margin-left: 40px; } }
    @media (min-width: 0) and (max-width: 900px) {
      .hero .main-title {
        font-size: 80px;
        line-height: 100px;
        margin-left: 10px;
        top: 230px;
        left: 16%; } }
  .hero .description {
    font-family: 'Cairo';
    font-size: 32px;
    line-height: 36px;
    position: absolute;
    top: 730px;
    right: 10%;
    z-index: 1; }
    @media (min-width: 0) and (max-width: 1200px) {
      .hero .description {
        right: 5%;
        top: 55vh; } }
    @media (min-width: 0) and (max-width: 900px) {
      .hero .description {
        top: 620px;
        font-size: 26px; } }

.countdown-cta {
  height: 120%;
  position: relative; }
  @media (min-width: 0) and (max-width: 1200px) {
    .countdown-cta {
      height: 80%; } }
  .countdown-cta .hand {
    position: absolute;
    left: -120px;
    top: -8vh;
    width: 50%;
    transform: rotate(-20deg); }
    @media (min-width: 0) and (max-width: 1200px) {
      .countdown-cta .hand {
        width: 54%;
        top: -220px;
        left: -80px; } }
    @media (min-width: 0) and (max-width: 900px) {
      .countdown-cta .hand {
        width: 60%;
        top: -220px;
        left: -60px; } }
  .countdown-cta .countdown {
    position: absolute;
    top: 16%;
    right: 0;
    width: 55%; }
    @media (min-width: 0) and (max-width: 1200px) {
      .countdown-cta .countdown {
        top: 0;
        right: 5%; } }
    @media (min-width: 0) and (max-width: 900px) {
      .countdown-cta .countdown {
        top: -5%;
        width: 48%; } }
    .countdown-cta .countdown .wave {
      position: absolute;
      top: -10vh;
      height: 60vh;
      opacity: 0.4; }
      @media (min-width: 0) and (max-width: 1200px) {
        .countdown-cta .countdown .wave {
          top: -6vh;
          height: 40vh; } }
    .countdown-cta .countdown section:last-of-type {
      margin-top: 30px;
      margin-left: 120px; }
      @media (min-width: 0) and (max-width: 900px) {
        .countdown-cta .countdown section:last-of-type {
          margin-left: 40px;
          margin-top: 12px; } }
    .countdown-cta .countdown section p {
      font-family: 'Anton';
      display: inline-block;
      vertical-align: top;
      position: relative; }
      .countdown-cta .countdown section p:first-of-type {
        margin-right: 100px; }
        @media (min-width: 0) and (max-width: 1200px) {
          .countdown-cta .countdown section p:first-of-type {
            margin-right: 80px; } }
        @media (min-width: 0) and (max-width: 900px) {
          .countdown-cta .countdown section p:first-of-type {
            margin-right: 60px; } }
      .countdown-cta .countdown section p:nth-last-of-type(3) .measure {
        margin-top: 30px; }
      .countdown-cta .countdown section p .number {
        font-size: 170px;
        margin-right: 20px; }
        .countdown-cta .countdown section p .number:hover {
          color: #C7161D;
          transition: color 0.5s; }
        @media (min-width: 0) and (max-width: 1200px) {
          .countdown-cta .countdown section p .number {
            font-size: 130px; } }
        @media (min-width: 0) and (max-width: 900px) {
          .countdown-cta .countdown section p .number {
            font-size: 112px;
            margin-right: 8px; } }
      .countdown-cta .countdown section p .measure {
        font-size: 40px;
        text-transform: uppercase;
        position: absolute;
        top: 0; }
        .countdown-cta .countdown section p .measure:hover {
          color: #3BC0C7;
          transition: color 0.5s; }
        @media (min-width: 0) and (max-width: 900px) {
          .countdown-cta .countdown section p .measure {
            font-size: 26px;
            writing-mode: vertical-lr; } }
        @media (min-width: 0) and (max-width: 1200px) {
          .countdown-cta .countdown section p .measure {
            font-size: 32px;
            writing-mode: vertical-lr; } }
      .countdown-cta .countdown section p .vertical {
        writing-mode: vertical-lr; }
  .countdown-cta .cta {
    position: absolute;
    left: 15%;
    top: 60vh; }
    @media (min-width: 0) and (max-width: 1200px) {
      .countdown-cta .cta {
        top: 370px;
        left: 18%; } }
    @media (min-width: 0) and (max-width: 900px) {
      .countdown-cta .cta {
        top: 320px; } }
    .countdown-cta .cta p {
      font-family: 'Cairo';
      font-size: 26px;
      width: 415px;
      line-height: 30px; }
    .countdown-cta .cta form input:nth-of-type(-n + 2) {
      display: block;
      font-family: 'Cairo';
      font-size: 26px;
      border: none;
      border-bottom: solid 2px #000;
      margin-top: 10px; }
    .countdown-cta .cta form .name {
      width: 415px; }
    .countdown-cta .cta form .contact {
      width: 325px; }
    .countdown-cta .cta form .submit {
      display: block;
      position: relative;
      top: 65px;
      left: 350px;
      width: 269px;
      height: 72px;
      border: solid 4px #C7161D;
      font-size: 36px;
      font-family: 'Anton';
      color: #C7161D;
      background-color: white;
      -webkit-box-shadow: 3px 3px 17px -2px rgba(0, 0, 0, 0.4);
      -moz-box-shadow: 3px 3px 17px -2px rgba(0, 0, 0, 0.4);
      box-shadow: 3px 3px 17px -2px rgba(0, 0, 0, 0.4); }
      @media (min-width: 0) and (max-width: 1200px) {
        .countdown-cta .cta form .submit {
          top: -20px;
          left: 380px; } }
      .countdown-cta .cta form .submit:hover {
        background-color: #F0F0F0;
        transform: scale(1.05);
        transition: 0.2s; }
      .countdown-cta .cta form .submit:active {
        transform: scale(0.95);
        transition: 0.2s; }
    .countdown-cta .cta .wave {
      position: absolute;
      top: 100px;
      left: -700px;
      height: 400px;
      transform: rotate(180deg);
      z-index: -1; }
  .countdown-cta .keep-an-eye-out {
    position: absolute;
    top: 86vh;
    right: 0;
    width: 52%; }
    @media (min-width: 0) and (max-width: 1200px) {
      .countdown-cta .keep-an-eye-out {
        top: 60vh; } }
    @media (min-width: 0) and (max-width: 900px) {
      .countdown-cta .keep-an-eye-out {
        width: 60%; } }
    .countdown-cta .keep-an-eye-out div {
      position: absolute;
      right: 0;
      display: block;
      height: 150px;
      width: 82%; }
      .countdown-cta .keep-an-eye-out div:first-of-type {
        font-size: 96px;
        font-family: 'Anton';
        text-transform: uppercase;
        line-height: 180px;
        padding: 0 50px; }
        @media (min-width: 0) and (max-width: 1200px) {
          .countdown-cta .keep-an-eye-out div:first-of-type {
            font-size: 60px;
            line-height: 160px; } }
      .countdown-cta .keep-an-eye-out div:nth-of-type(2) {
        height: 60px;
        top: 150px;
        width: 100%; }
      .countdown-cta .keep-an-eye-out div:last-of-type {
        height: 100px;
        top: 210px;
        width: 22%; }

.promo-video {
  margin-bottom: 50px;
  height: 90%; }
  .promo-video iframe {
    height: 100%; }

.pointer {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.5);
  border: 3px solid black;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  box-sizing: border-box;
  z-index: 3; }

body {
  cursor: none; }

.corner-logo {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  width: 100%;
  z-index: 1; }
  .corner-logo img {
    width: 200px;
    padding: 40px 50px; }
  .corner-logo .red-line {
    background-color: transparent;
    border: solid 5px #C7161D;
    position: absolute;
    border-top: none;
    border-left: none; }
  .corner-logo .top-line {
    top: 0;
    left: 200px;
    width: calc(90% - 180px);
    height: 62px; }
  .corner-logo .corner-line {
    top: 57px;
    left: 100px;
    width: 100px;
    height: 66px; }
  .corner-logo .left-line {
    top: 118px;
    left: 0;
    width: 100px;
    height: 140vh; }

.blue {
  background-color: #3BC0C7; }

.dark-blue {
  background-color: #126569; }

.white {
  background-color: #fff; }

body ::selection {
  color: #cff;
  background-color: #222; }

/*# sourceMappingURL=main.css.map */
