/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

* {
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  height: 100%;
  overflow-x: hidden; }

html {
  position: relative;
  height: 100%; }

strong {
  font-weight: 700; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

em {
  font-style: italic; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

textarea,
input[type="text"],
input[type="button"],
input[type="submit"] {
  -webkit-appearance: none;
  border-radius: 0;
  outline: 0;
  outline: none; }

button {
  -webkit-appearance: none; }

main {
  transition: all .4s ease-out;
  display: block;
  -webkit-transform-origin: center center;
  transform-origin: center center;
  height: 100%; }

* {
  outline: 0;
  box-sizing: border-box; }

.hero {
  height: 65%; }
  .hero .top-right-blue {
    position: absolute;
    top: 0;
    right: 0;
    height: 120px;
    width: 16%;
    opacity: 0.65; }
  .hero .bust {
    position: absolute;
    top: 0;
    right: 0;
    width: 74%;
    opacity: 0.9;
    z-index: -1;
    height: 70%;
    background: url("/images/bust_cut.jpg") no-repeat;
    background-size: 100% auto; }
    .hero .bust .masked {
      width: 100%;
      transform: translateY(-90%);
      -webkit-mask-image: url("/images/mask.png");
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-size: 300px;
      mask-image: url("/images/mask.png");
      mask-repeat: no-repeat;
      mask-size: 300px;
      pointer-events: none; }
      @media (min-width: 0) and (max-width: 1200px) {
        .hero .bust .masked {
          display: none; } }
    .hero .bust .wave {
      margin-top: 20px;
      width: 100%;
      height: 70%; }
  .hero .title {
    margin-top: 180px; }
    .hero .title .top-left-blue {
      height: 400px;
      width: 26%; }
      @media (min-width: 0) and (max-width: 1200px) {
        .hero .title .top-left-blue {
          width: 30%; } }
      @media (min-width: 0) and (max-width: 900px) {
        .hero .title .top-left-blue {
          width: 34%; } }
    .hero .title .behind-title {
      position: absolute;
      left: 10%;
      z-index: 1; }
      @media (min-width: 0) and (max-width: 1200px) {
        .hero .title .behind-title {
          left: 12%; } }
      @media (min-width: 0) and (max-width: 900px) {
        .hero .title .behind-title {
          left: 14%; } }
    .hero .title .small {
      width: 16%;
      height: 60px;
      top: 320px; }
      @media (min-width: 0) and (max-width: 1200px) {
        .hero .title .small {
          top: 270px;
          height: 50px;
          width: calc(18% + 1px); } }
      @media (min-width: 0) and (max-width: 900px) {
        .hero .title .small {
          width: calc(20% + 1px); } }
    .hero .title .mid {
      width: 38%;
      height: 240px;
      top: 380px; }
      @media (min-width: 0) and (max-width: 1200px) {
        .hero .title .mid {
          top: 320px;
          height: 200px;
          width: 38%; } }
      @media (min-width: 0) and (max-width: 900px) {
        .hero .title .mid {
          width: 48%; } }
    .hero .title .large {
      width: 90%;
      height: 20%;
      top: 540px;
      z-index: 0; }
      @media (min-width: 0) and (max-width: 1200px) {
        .hero .title .large {
          top: 518px;
          height: calc(100% - 600px);
          width: 88%; } }
      .hero .title .large .description {
        float: right;
        margin-top: 180px;
        margin-right: 150px;
        font-family: 'Cairo';
        font-size: 32px;
        line-height: 36px; }
        @media (min-width: 0) and (max-width: 1200px) {
          .hero .title .large .description {
            right: 5%;
            top: 55vh; } }
        @media (min-width: 0) and (max-width: 900px) {
          .hero .title .large .description {
            top: 620px;
            font-size: 26px; } }
    .hero .title .title-text {
      position: absolute;
      top: 250px;
      left: 12%;
      font-family: 'Anton';
      font-size: 120px;
      line-height: 150px;
      text-transform: uppercase;
      z-index: 2; }
      .hero .title .title-text span {
        display: block; }
        .hero .title .title-text span:first-of-type {
          width: 25%; }
        .hero .title .title-text span:nth-of-type(2) {
          width: 75%; }
      @media (min-width: 0) and (max-width: 1330px) {
        .hero .title .title-text {
          font-size: 104px;
          line-height: 130px; } }
      @media (min-width: 0) and (max-width: 1200px) {
        .hero .title .title-text {
          font-size: 90px;
          line-height: 110px;
          top: 200px;
          margin-left: 40px; } }
      @media (min-width: 0) and (max-width: 900px) {
        .hero .title .title-text {
          font-size: 80px;
          line-height: 100px;
          margin-left: 10px;
          top: 230px;
          left: 16%; } }

.countdown {
  position: relative;
  font-size: 0;
  z-index: -1; }
  @media (min-width: 0) and (max-width: 1200px) {
    .countdown {
      height: 80%; } }
  .countdown .hand {
    display: inline-block;
    width: 50%;
    transform: rotate(-20deg) translate(-12%, -10%); }
    @media (min-width: 0) and (max-width: 1200px) {
      .countdown .hand {
        width: 54%;
        top: -220px;
        left: -80px; } }
    @media (min-width: 0) and (max-width: 900px) {
      .countdown .hand {
        width: 60%;
        top: -220px;
        left: -60px; } }
  .countdown .clock {
    display: inline-block;
    position: absolute;
    top: 140px;
    width: 50%; }
    @media (min-width: 0) and (max-width: 1200px) {
      .countdown .clock {
        top: 0;
        right: 5%; } }
    @media (min-width: 0) and (max-width: 900px) {
      .countdown .clock {
        top: -5%;
        width: 48%; } }
    .countdown .clock section:last-of-type {
      margin-top: 30px;
      margin-left: 120px; }
      @media (min-width: 0) and (max-width: 900px) {
        .countdown .clock section:last-of-type {
          margin-left: 40px;
          margin-top: 12px; } }
    .countdown .clock section p {
      font-family: 'Anton';
      display: inline-block;
      vertical-align: top;
      position: relative; }
      .countdown .clock section p:first-of-type {
        margin-right: 100px; }
        @media (min-width: 0) and (max-width: 1200px) {
          .countdown .clock section p:first-of-type {
            margin-right: 80px; } }
        @media (min-width: 0) and (max-width: 900px) {
          .countdown .clock section p:first-of-type {
            margin-right: 60px; } }
      .countdown .clock section p:nth-last-of-type(3) .measure {
        margin-top: 30px; }
      .countdown .clock section p .number {
        font-size: 170px;
        margin-right: 20px; }
        .countdown .clock section p .number:hover {
          color: #C7161D;
          transition: color 0.5s; }
        @media (min-width: 0) and (max-width: 1200px) {
          .countdown .clock section p .number {
            font-size: 130px; } }
        @media (min-width: 0) and (max-width: 900px) {
          .countdown .clock section p .number {
            font-size: 112px;
            margin-right: 8px; } }
      .countdown .clock section p .measure {
        font-size: 40px;
        text-transform: uppercase;
        position: absolute;
        top: 0; }
        .countdown .clock section p .measure:hover {
          color: #3BC0C7;
          transition: color 0.5s; }
        @media (min-width: 0) and (max-width: 900px) {
          .countdown .clock section p .measure {
            font-size: 26px;
            writing-mode: vertical-lr; } }
        @media (min-width: 0) and (max-width: 1200px) {
          .countdown .clock section p .measure {
            font-size: 32px;
            writing-mode: vertical-lr; } }
      .countdown .clock section p .vertical {
        writing-mode: vertical-lr; }
    .countdown .clock .wave {
      position: absolute;
      top: 0;
      right: 0;
      height: 45vh;
      opacity: 0.4;
      z-index: -1; }
      @media (min-width: 0) and (max-width: 1200px) {
        .countdown .clock .wave {
          top: -6vh;
          height: 40vh; } }

.cta {
  margin-left: 10%; }
  @media (min-width: 0) and (max-width: 1200px) {
    .cta {
      top: 370px;
      left: 18%; } }
  @media (min-width: 0) and (max-width: 900px) {
    .cta {
      top: 320px; } }
  .cta p {
    font-family: 'Cairo';
    font-size: 26px;
    width: 415px;
    line-height: 30px; }
  .cta form input:nth-of-type(-n + 2) {
    display: block;
    font-family: 'Cairo';
    font-size: 26px;
    border: none;
    border-bottom: solid 2px #000;
    margin-top: 10px; }
  .cta form .name {
    width: 415px; }
  .cta form .contact {
    width: 325px; }
  .cta form .submit {
    display: block;
    margin-left: 400px;
    width: 269px;
    height: 72px;
    border: solid 4px #C7161D;
    font-size: 36px;
    font-family: 'Anton';
    color: #C7161D;
    background-color: white;
    -webkit-box-shadow: 3px 3px 17px -2px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 3px 3px 17px -2px rgba(0, 0, 0, 0.4);
    box-shadow: 3px 3px 17px -2px rgba(0, 0, 0, 0.4); }
    @media (min-width: 0) and (max-width: 1200px) {
      .cta form .submit {
        top: -20px;
        left: 380px; } }
    .cta form .submit:hover {
      background-color: #F0F0F0;
      transform: scale(1.05);
      transition: 0.2s; }
    .cta form .submit:active {
      transform: scale(0.95);
      transition: 0.2s; }
  .cta .wave {
    position: absolute;
    top: 100px;
    left: -700px;
    height: 400px;
    transform: rotate(180deg);
    z-index: -1; }

.keep-an-eye-out {
  position: relative;
  height: 30%;
  transform: translateY(-80px); }
  @media (min-width: 0) and (max-width: 1200px) {
    .keep-an-eye-out {
      top: 60vh; } }
  @media (min-width: 0) and (max-width: 900px) {
    .keep-an-eye-out {
      width: 60%; } }
  .keep-an-eye-out div {
    position: absolute;
    right: 0;
    height: 150px;
    width: 44%; }
    .keep-an-eye-out div:first-of-type {
      font-size: 96px;
      font-family: 'Anton';
      text-transform: uppercase;
      line-height: 180px;
      padding: 0 50px; }
      @media (min-width: 0) and (max-width: 1200px) {
        .keep-an-eye-out div:first-of-type {
          font-size: 60px;
          line-height: 160px; } }
    .keep-an-eye-out div:nth-of-type(2) {
      height: 60px;
      width: 52%;
      top: 150px; }
    .keep-an-eye-out div:last-of-type {
      height: 100px;
      width: 36%;
      top: 210px; }

.promo-video {
  transform: translateY(-100px);
  margin-bottom: 50px;
  height: 90%; }
  .promo-video iframe {
    height: 100%; }

.pointer {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.5);
  border: 3px solid black;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  box-sizing: border-box;
  z-index: 3; }

body {
  cursor: none; }

.corner-logo {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  width: 100%;
  z-index: 1; }
  .corner-logo img {
    width: 200px;
    padding: 40px 50px; }
  .corner-logo .red-line {
    background-color: transparent;
    border: solid 5px #C7161D;
    position: absolute;
    border-top: none;
    border-left: none; }
  .corner-logo .top-line {
    top: 0;
    left: 200px;
    width: calc(90% - 180px);
    height: 62px; }
  .corner-logo .corner-line {
    top: 57px;
    left: 100px;
    width: 100px;
    height: 66px; }
  .corner-logo .left-line {
    top: 118px;
    left: 0;
    width: 100px;
    height: 140vh; }

.blue {
  background-color: #3BC0C7; }

.dark-blue {
  background-color: #126569; }

.white {
  background-color: #fff; }

body ::selection {
  color: #cff;
  background-color: #222; }

/*# sourceMappingURL=main.css.map */
