.hero {
    height:65%;
    @include mq(0,900px){
        height:60%;
    }
    @include mq(0,768px){
        height:50%;
    }
    @include mq(0,375px){
        height:490px;
    }

    .top-right-blue {
        position:absolute;
        top:0;
        right:0;
        height:120px;
        width:16%;
        opacity:0.65;
        @include mq(0,768px){
            width:26%;
            height:100px;
        }
        @include mq(0,375px){
            width:30%;
            height:50px;
        }
    }
    .bust {
        position:absolute;
        top:0;
        right:0;
        width:74%;
        opacity:0.9;
        height: 70%;
        background: url('/images/bust_cut.jpg') no-repeat;
        background-size: 100% auto;
        @include mq(0,375px){
            width:110%;
            transform:translateX(34%);
            background: url('/images/bust_cut_mobile.jpg') no-repeat;
            background-size: 100% auto;
        }
        .masked {
            width: 100%;
            height:100%;
            transform:translateY(-90%);
            -webkit-mask-image: url('/images/mask.png');
            -webkit-mask-repeat: no-repeat;
            -webkit-mask-size: 300px;
            mask-image: url('/images/mask.png');
            mask-repeat: no-repeat;
            mask-size: 300px;
            pointer-events: none;
            @include mq(0,1700px){
                display:none;
            }
        }
        .wave {
            margin-top:20px;
            width:100%;
            height:70%;
            @include mq(0,768px){
                margin-top:0;
                height:45%;
                width:150%;
            }
            @include mq(0,375px){
                height:40%;
                max-height:300px;
            }
        }
    }
    .title {
        margin-top:180px;
        @include mq(0,900px){
            margin-top:120px;
        }
        @include mq(0,768px){
            margin-top:100px;
        }
        @include mq(0,375px){
            margin-top:60px;
        }
        .top-left-blue {
            height:400px;
            width:26%;
            @include mq(0,1200px){
                width:26%;
            }
            @include mq(0,900px){
                height:200px;
            }
            @include mq(0,375px){
                height:140px;
                width:28%;
            }
        }
        .behind-title {
            position:absolute;
            left:10%;
            z-index:1;
            @include mq(0,1200px){
                left:12%;
            }
            @include mq(0,900px){
                left:10%;
            }
            @include mq(0,768px){
                left:12%;
            }
        }
        .small {
            width:16%;
            height:60px;
            top:320px;
            @include mq(0,1200px){
                width:14%;
                top:250px;
            }
            @include mq(0,900px){
                width:16%;
                top:180px;
            }
            @include mq(0,768px){
                width:14%;
                top:160px;
                height:40px;
            }
            @include mq(0,375px){
                width:calc(16% - 2px);
                top:120px;
                height:40px;
            }
        }
        .mid {
            width:38%;
            height:240px;
            top:380px;
            @include mq(0,1200px){
                z-index:0;
                top:310px;
            }
            @include mq(0,900px){
                top:240px;
                width:45%;
            }
            @include mq(0,768px){
                top:200px;
                width:45%;
            }
            @include mq(0,375px){
                width:28%;
                top:160px;
                height:60px;
            }
        }
        .large {
            width:90%;
            height:20%;
            top:540px;
            z-index:0;
            @include mq(0,1200px){
                top:518px;
                height:calc(100% - 600px);
                width:88%;
            }
            @include mq(0,900px){
                top:360px;
                width:90%;
            }
            @include mq(0,375px){
                top:220px;
                height:280px;
                padding-top:120px;
            }
            .description {
                float:right;
                margin-top:180px;
                margin-right:150px;
                font-family:'Cairo';
                font-size:32px;
                line-height:36px;
                @include mq(0,1200px){
                    margin-top:60px;
                    margin-right:80px;
                    font-size:24px;
                    line-height:30px;
                }
                @include mq(0,900px){
                    margin-top:80px;
                }
                @include mq(0,768px){
                    margin-top:0;
                    font-size:18px;
                    transform:translateY(-10%);
                }
                @include mq(0,375px){
                    font-size:20px;
                    line-height:22px;
                    width:80%;
                    margin-right:20px;
                    margin-top:60px;
                }
            }
        }
        .title-text {
            position:absolute;
            top:250px;
            left:12%;
            font-family:'Anton';
            font-size: 120px;
            line-height:150px;
            text-transform:uppercase;
            z-index:2;
            span {
                display:block;
                
                &:first-of-type {
                    width:25%;
                    @include mq(0,375px){
                        width:40%;
                    }
                }
                &:nth-of-type(2) {
                    width:75%;
                    @include mq(0,375px){
                        width:90%;
                    }
                }
            }
            @include mq(0,1330px){
                font-size:104px;
                line-height:130px;
                left:10%;
            }
            @include mq(0,1200px){
                font-size:90px;
                line-height:110px;
                top:200px;
            }
            @include mq(0,900px){
                font-size:70px;
                line-height:90px;
                top:150px;
                left:10%;
            }
            @include mq(0,768px){
                font-size:50px;
                line-height:70px;
                top:130px;
                left:13%;
            }
            @include mq(0,375px){
                font-size:46px;
                line-height:54px;
                top:164px;
                left:15%;
            }
        }
    }
}