.keep-an-eye-out {
    position:relative;
    height:30%;
    transform:translateY(-80px);
    @include mq(0,1200px){
        top:20vh;
    }
    @include mq(0,768px){
        height:25%;
    }
    div {
        position:absolute;
        right:0;
        height:150px;
        width:44%;
        @include mq(0,900px){
            height:120px;
        }
        @include mq(0,768px){
            height:100px;
        }
        &:first-of-type {
            font-size:96px;
            font-family:'Anton';
            text-transform:uppercase;
            line-height:180px;
            padding:0 50px;
            @include mq(0,1500px){
                width:35%;
                font-size:60px;
                line-height:140px;
            }
            @include mq(0,1200px){
                width:50%;
            }
            @include mq(0,900px){
                line-height:120px;
            }
            @include mq(0,768px){
                width:44%;
                font-size:46px;
                line-height:100px;
            }
            @include mq(0,375px){
                width:70%;
                font-size:40px;
                padding:0;
                text-align:center;
            }
        }
        &:nth-of-type(2) {
            height:60px;
            width:52%;
            top:150px;
            @include mq(0,1500px){
                width:46%;
            }
            @include mq(0,1200px){
                width:60%;
            }
            @include mq(0,900px){
                top:120px;
            }
            @include mq(0,768px){
                top:100px;
            }
            @include mq(0,375px){
                width:80%;
                height:30px;
            }
        }
        &:last-of-type {
            height:100px;
            width:36%;
            top:210px;
            @include mq(0,1500px){
                width:40%;
            }
            @include mq(0,900px){
                top:180px;
            }
            @include mq(0,768px){
                top:100px;
            }
            @include mq(0,375px){
                width:60%
            }
        }
    }
}