.keep-an-eye-out {
    position:relative;
    height:30%;
    transform:translateY(-80px);
    @include mq(0,1200px){
        top:20vh;
    }
    div {
        position:absolute;
        right:0;
        height:150px;
        width:44%;
        
        &:first-of-type {
            font-size:96px;
            font-family:'Anton';
            text-transform:uppercase;
            line-height:180px;
            padding:0 50px;
            @include mq(0,1200px){
                font-size:60px;
                line-height:160px;
            }
        }
        &:nth-of-type(2) {
            height:60px;
            width:52%;
            top:150px;
        }
        &:last-of-type {
            height:100px;
            width:36%;
            top:210px;
        }
    }
}