.promo-video {
    margin-bottom:50px;
    background-color: $ccb-blue;
    opacity:0.5;
    text-transform:uppercase;
    font-family: 'Anton';
    font-size:140px;
    line-height: 150px;
    padding:360px 0;
    color:white;
    text-align:center;
    @include mq(0,900px){
        font-size:80px;
        padding:180px 0;
    }
}