@import '_reset';
@import '_config';
@import '_mixins';
@import '_hero_section';
@import '_countdown_cta';
@import '_promo_video';
@import '_pointer';
@import '_corner_logo';

.blue {
    background-color: $ccb-blue;
}
.dark-blue {
    background-color: $ccb-dark-blue;
}
.white {
    background-color: #fff;
}
body {
    ::selection {
        color:#cff;
        background-color: #222;
    }
}