@import '_reset';
@import '_config';
@import '_mixins';
@import '_hero';
@import '_countdown';
@import '_cta';
@import '_keep_an_eye_out';
@import '_promo_video';
@import '_pointer';
@import '_corner_logo';

.blue {
    background-color: $ccb-blue;
}
.dark-blue {
    background-color: $ccb-dark-blue;
}
.white {
    background-color: #fff;
}
body {
    ::selection {
        color:#cff;
        background-color: #222;
    }
}
.hidden {
    display:none;
}